table.stats-table {
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding: 5px;
  border: 2px solid #b5b5b5;
  border-collapse: collapse;
}

table.stats-table tr {
  border-collapse: collapse;
}

table.stats-table td, th {
  padding: 5px;
  border-collapse: collapse;
  color: #C0AF47;
  text-align: center;
}

table.stats-table td {
  cursor: pointer;
}

form.week-select {
  font-size: 80%;
}

form.week-select input, select {
  color: #000000;
}